In [ ]:
# Couple of geoplots...
# Sectors for each company across the US

# One for population

In [2]:
# Import the required libraries and dependencies
import pandas as pd
import hvplot.pandas
from pathlib import Path
import os

In [6]:
# Using the read_csv function and Path module, create a DataFrame 
us_cities_df = pd.read_csv(
    Path('../Group3Project1/Resources/us_cities.csv')
)

# Review the first five rows of the DataFrame
display(us_cities_df.head())
display(us_cities_df.tail())

   ID STATE_CODE STATE_NAME      CITY          COUNTY   LATITUDE   LONGITUDE
0   1         AK     Alaska      Adak  Aleutians West  55.999722 -161.207778
1   2         AK     Alaska  Akiachak          Bethel  60.891854 -161.392330
2   3         AK     Alaska     Akiak          Bethel  60.890632 -161.199325
3   4         AK     Alaska    Akutan  Aleutians East  54.143012 -165.785368
4   5         AK     Alaska  Alakanuk        Kusilvak  62.746967 -164.602280

,ID,STATE_CODE,STATE_NAME,CITY,COUNTY,LATITUDE,LONGITUDE
29875,29876,WY,Wyoming,Worland,Washakie,44.013796,-107.956260
29876,29877,WY,Wyoming,Wright,Campbell,43.829349,-105.532327
29877,29878,WY,Wyoming,Wyarno,Sheridan,44.813333,-106.773333
29878,29879,WY,Wyoming,Yellowstone National Park,Park,44.853913,-110.674366
29879,29880,WY,Wyoming,Yoder,Goshen,41.912018,-104.353507

In [7]:
# Using the read_csv function and Path module, create a DataFrame 
snp500_with_pop_df = pd.read_csv(
    Path('../Group3Project1/Resources/snp500_with_population.csv')
)

# Review the first five rows of the DataFrame
display(snp500_with_pop_df.head())
display(snp500_with_pop_df.tail())

,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded,city,state,population
0,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902,Saint Paul,Minnesota,303176.0
1,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916,Milwaukee,Wisconsin,563305.0
2,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888,North Chicago,Illinois,30490.0
3,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888),North Chicago,Illinois,30490.0
4,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989,Dublin,Ireland,NaN

,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded,city,state,population
499,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997,Louisville,Kentucky,624444.0
500,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969,Lincolnshire,Illinois,7922.0
501,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927,Warsaw,Indiana,16111.0
502,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873,Salt Lake,Utah,204657.0
503,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952,Parsippany,New Jersey,NaN

In [11]:
# create new column, first_word
# split method
# first name of city as index

snp500_with_pop_df['first_word'] = snp500_with_pop_df['city'].str.split().str[0]

display(snp500_with_pop_df.head())
display(snp500_with_pop_df.tail())

,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded,city,state,population,first_word
0,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902,Saint Paul,Minnesota,303176.0,Saint
1,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916,Milwaukee,Wisconsin,563305.0,Milwaukee
2,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888,North Chicago,Illinois,30490.0,North
3,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888),North Chicago,Illinois,30490.0,North
4,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989,Dublin,Ireland,NaN,Dublin

,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded,city,state,population,first_word
499,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997,Louisville,Kentucky,624444.0,Louisville
500,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969,Lincolnshire,Illinois,7922.0,Lincolnshire
501,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927,Warsaw,Indiana,16111.0,Warsaw
502,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873,Salt Lake,Utah,204657.0,Salt
503,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952,Parsippany,New Jersey,NaN,Parsippany

In [19]:
us_cities_df['first_word'] = us_cities_df['CITY'].str.split().str[0]

display(us_cities_df.head())
display(us_cities_df.tail())

,ID,STATE_CODE,state,CITY,COUNTY,LATITUDE,LONGITUDE,first_word
0,1,AK,Alaska,Adak,Aleutians West,55.999722,-161.207778,Adak
1,2,AK,Alaska,Akiachak,Bethel,60.891854,-161.392330,Akiachak
2,3,AK,Alaska,Akiak,Bethel,60.890632,-161.199325,Akiak
3,4,AK,Alaska,Akutan,Aleutians East,54.143012,-165.785368,Akutan
4,5,AK,Alaska,Alakanuk,Kusilvak,62.746967,-164.602280,Alakanuk

,ID,STATE_CODE,state,CITY,COUNTY,LATITUDE,LONGITUDE,first_word
29875,29876,WY,Wyoming,Worland,Washakie,44.013796,-107.956260,Worland
29876,29877,WY,Wyoming,Wright,Campbell,43.829349,-105.532327,Wright
29877,29878,WY,Wyoming,Wyarno,Sheridan,44.813333,-106.773333,Wyarno
29878,29879,WY,Wyoming,Yellowstone National Park,Park,44.853913,-110.674366,Yellowstone
29879,29880,WY,Wyoming,Yoder,Goshen,41.912018,-104.353507,Yoder

In [20]:
us_cities_df.rename(columns={"STATE_NAME":"state"}, inplace=True)

In [22]:
display(us_cities_df.head())
display(snp500_with_pop_df.head())

,ID,STATE_CODE,state,CITY,COUNTY,LATITUDE,LONGITUDE,first_word
0,1,AK,Alaska,Adak,Aleutians West,55.999722,-161.207778,Adak
1,2,AK,Alaska,Akiachak,Bethel,60.891854,-161.392330,Akiachak
2,3,AK,Alaska,Akiak,Bethel,60.890632,-161.199325,Akiak
3,4,AK,Alaska,Akutan,Aleutians East,54.143012,-165.785368,Akutan
4,5,AK,Alaska,Alakanuk,Kusilvak,62.746967,-164.602280,Alakanuk

,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded,city,state,population,first_word
0,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902,Saint Paul,Minnesota,303176.0,Saint
1,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916,Milwaukee,Wisconsin,563305.0,Milwaukee
2,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888,North Chicago,Illinois,30490.0,North
3,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888),North Chicago,Illinois,30490.0,North
4,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989,Dublin,Ireland,NaN,Dublin

In [ ]:
# Merge datasets by State THEN by First Word of city

merge_datasets = pd.merge(snp500_with_pop_df, us_cities_df, on=[''])

In [ ]:
# Create a plot to analyze neighborhood info

neighborhood_points_plot = all_neighborhoods_df.hvplot.points(
    'Longitude', 
    'Latitude',
    geo=True, 
    title = 'Gross Rent by Neighborhood in San Francisco',
    #size="sale_price_sqr_foot", 
    #size_max=25,
    #color='gross_rent',
    zoom=11,
    alpha=0.4, #transparency level of the bubbles
    tiles='OSM',        #OSM - Open Street Map
    frame_width = 700,
    frame_height = 500,
    xlabel='Longitude',
    ylabel='Latitude',
    )


# Show the plot
neighborhood_points_plot